@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lord Zaid King Irshad </h1>
    <p>Masroofiyaat: <a href="https://learn.microsoft.com/aspnet/core">Demotivating Students Since Covid-19</a>.</p>
</div>
